how-that-works/
How-that-work-c/How-that-work-c.slnx
How-that-work-c/How-that-work-c.vcxproj
How-that-work-c/How-that-work-c.vcxproj.filters
How-that-work-c/How-that-work-c.vcxproj.user
How-that-work-c/.vs/How-that-work-c/CopilotIndices/18.6.39603.9996/CodeChunks.db
How-that-work-c/.vs/How-that-work-c/CopilotIndices/18.6.39603.9996/CodeChunks.db-shm
How-that-work-c/.vs/How-that-work-c/CopilotIndices/18.6.39603.9996/CodeChunks.db-wal
How-that-work-c/.vs/How-that-work-c/CopilotIndices/18.6.39603.9996/SemanticSymbols.db-shm
How-that-work-c/.vs/How-that-work-c/CopilotIndices/18.6.39603.9996/SemanticSymbols.db
How-that-work-c/.vs/How-that-work-c/CopilotIndices/18.6.39603.9996/SemanticSymbols.db-wal
How-that-work-c/.vs/How-that-work-c.slnx/FileContentIndex/bd9fd691-a990-4416-93a3-493c8f83e7e6.vsidx
How-that-work-c/.vs/How-that-work-c.slnx/v18/.suo
How-that-work-c/.vs/How-that-work-c.slnx/v18/Browse.VC.db
How-that-work-c/.vs/How-that-work-c.slnx/v18/Browse.VC.db-shm
How-that-work-c/.vs/How-that-work-c.slnx/v18/Browse.VC.opendb
How-that-work-c/.vs/How-that-work-c.slnx/v18/Browse.VC.db-wal
How-that-work-c/.vs/How-that-work-c.slnx/v18/ipch/AutoPCH/25812a39c3033640/MAIN.ipch
